<div class="parallax p-4 d-flex justify-content-center align-items-center">
  <div class="container row gap-4 d-flex justify-content-center">
    <div class="stats col-4 p-2">
      <div class="h-100">
        <div class="text-header text-center">
          {{l.tr('Организации')}}
        </div>
        <div class="d-flex justify-content-center text-large">
          <i class="mx-2 bi bi-buildings"></i>
          <div class="mx-2">7</div>
        </div>
        <div class="text-center">
          {{l.tr('Сотрудничество с организациями в разработке за 3 года')}}
        </div>
      </div>
    </div>
    <div class="stats col-4 p-2">
      <div class="h-100">
        <div class="text-header text-center">
          {{l.tr('Репозитории')}}
        </div>
        <div class="d-flex justify-content-center text-large">
          <i class="mx-2 bi bi-code-slash"></i>
          <div class="mx-2">109</div>
        </div>
        <div class="text-center">
          {{l.tr('Количество репозиториев с моим участием')}}
        </div>
      </div>
    </div>
    <div class="stats col-4 p-2">
      <div class="h-100">
        <div class="text-header text-center">
          {{l.tr('Коммиты')}}
        </div>
        <div class="d-flex justify-content-center text-large">
          <i class="mx-2 bi bi-arrow-up-right"></i>
          <div class="mx-2">705</div>
        </div>
        <div class="text-center">
          {{l.tr('Количество коммитов по всем репозиториям за 2025 год')}}
        </div>
      </div>
    </div>
  </div>
</div>
