@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  --primary-color: #3DAEE9;
  --background-color-primary: #031329;
  --background-color-secondary: #02406a;
  --header-text-height: clamp(20px, 2.5vw, 42px);
  --text-height: clamp(16px, 1.2vw, 28px);
  --text-height-small: clamp(16px, 1vw, 20px);
  --text-height-xsmall: clamp(16px, 1vw, 16px);
  --menu-height: 8vh;
  --background-glass: linear-gradient(345deg, rgba(255,255,255,0.2) 20%, rgba(0,212,255,0) 100%);
  --background-glass-brighter: linear-gradient(345deg, rgba(255,255,255,0.2) 60%, rgba(0,212,255,0) 100%);
  --background-hover: rgba(255, 255, 255, 0.2);
  --progress-color-light: linear-gradient(90deg, #bababa, #d6d6d6);
  --progress-color: linear-gradient(90deg, #007bff, #00ffcc);
  --primart-text-color: #ffffff;
  --background-image-url: url('/background.jpg');
  --box-shadow-hover: 0 0 5px var(--primary-color),
                      0 0 8px var(--primary-color),
                      0 0 12px var(--primary-color),
                      0 0 16px var(--primary-color);


  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  color: var(--primart-text-color);
}
#tsparticles{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.progress{
  background-color: var(--background-color-primary);
  height: 12px;
}
.progress-bar{
  background: var(--progress-color);
  transition: 0s;
}
.cursor-pointer{
  cursor: pointer;
}
.bar-icon{
  font-size: 2.5rem;
  opacity: 0.8;
}
.bar{
  background-color: white;
  width: 2px;
  height: 30px;
  opacity: 0.8;
}
.page{
  height: auto;
  min-height: 100vh;
  position: relative;
  background-image: var(--background-image-url);
  font-size: var(--text-height-small);
  padding-top: calc(var(--menu-height) + 3rem);
  padding-bottom: 3rem;
  .text-header{
    font-size: var(--header-text-height);
  }
  .backdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2rem);
  }
}
.button{
  border-radius: 0.5rem;
  transition: 0.5s;
  font-size: var(--text-height);
  min-height: var(--header-text-height);
}
.button:hover{
  /*color: var(--primary-color);*/
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: var(--box-shadow-hover);
  scale: 1.05;
}
